# General
__pycache__/
*.py[cod]
*$py.class
*.so
.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
# media/
staticfiles/

# Firebase
firebase-adminsdk.json
