[phases.setup]
nixPkgs = ["python312", "gcc", "mysql-client", "pkg-config", "mysql-dev", "ffmpeg", "libsm", "libxext"]

[phases.build]
cmds = [
    "pip install -r requirements.txt",
    "python manage.py collectstatic --noinput --clear"
]

[start]
cmd = "python manage.py migrate --noinput && python manage.py collectstatic --noinput && gunicorn hewor_project.wsgi --workers 1 --threads 8 --timeout 120 --bind 0.0.0.0:$PORT"
