[phases.setup]
nixPkgs = ["xorg.libxcb", "libglvnd", "glib", "poppler_utils", "zlib"]

[phases.build]
cmds = ["python manage.py collectstatic --noinput", "python manage.py migrate"]

[start]
cmd = "gunicorn hewor_project.wsgi:application"
