Django==5.2.7
mysqlclient
python-dotenv
whitenoise
gunicorn
django-jazzmin==3.0.1
Pillow==12.0.0
requests
beautifulsoup4
pandas
openpyxl
pdf2docx
python-docx
opencv-python-headless
PyMuPDF
django-cleanup
firebase-admin
dj-database-url
google-genai
